body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Removes the bottom space under images */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 10px;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 10px;
}

button {
    width: 250px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#predictionResult {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
